{{ define "footer" }}

<link rel="stylesheet" href="/web/static/style.css">
<p class="empty2">    </p>

<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-top">

            <div class="footer-column">
                <h3>Контакты</h3>
                <ul class="footer-contacts">
                    <li><i class="fas fa-map-marker-alt"></i> г. Казань, ул. Товарищеская, 31А</li>
                    <li><i class="fas fa-phone"></i> <a href="tel:+7999999-99-99">+7(999)999-99-99</a></li>
                    <li><i class="fas fa-envelope"></i> <a href="mailto:info@example.com">alan_lox@gmail.com</a></li>
                </ul>
            </div>
            
            <div class="footer-column">
                <h3>Навигация</h3>
                <ul class="footer-links">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/services">Услуги</a></li>
                    <li><a href="/portfolio">Портфолио</a></li>
                    <li><a href="/contact">Контакты</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <div class="copyright">
                &copy; 2025 ООО "Лошары". Все права защищены.
            </div>
        </div>
    </div>
</footer>


{{ end }}