{{ define "header" }}


<!DOCTYPE html>
<html lang="en">
<head>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/web/static/style.css">
    <title>GeoInfo</title>
</head>

<div>
<div class="bg-slideshow">
  <h1 class="hh">TravelToTatarstan - see our culture!</h1>
        <nav class="main_nav">
            <div class="horizontal-items"> 
                <a href="/">Главная страница<i class="fas fa-home"></i></a>
                <a href="/help">Нужна помощь<i class="fa fa-question" aria-hidden="true"></i></a> 
                <a href="/settings">Настройки<i class="fa fa-cog" aria-hidden="true"></i></a>
                <a href="/about">Информация о нас<i class="fa fa-exclamation" aria-hidden="true"></i></a>
            </div>
        </nav>
    </div>
</div>
</header>


{{ end }}