{{ define "search_page" }}


{{ template "header" }}

<link rel="stylesheet" href="/web/static/style.css">

</head>

<body>
<div class="page">
    <p> </p>
<div class="sidebar-left"> </div>
<div class="sidebar-right"> </div>
    <div class="main-text"></div>
    <form action="/info" method="get" class="search-form">
        <input type="text" name="q" class="search-input" placeholder="Поиск..." required>
    </form>
    <h1 class="h-res">Результаты поиска "{{ .Query }}": 
        <p>Всего по вашему запросу найдено {{ len .Locations }} мест </p>
    </h1>
    <div class="search">
        {{ if .Locations }}
        {{ range .Locations }}
            <div class="text-l">
                <p>Название места: {{ .Name }}</p>
                <p>Адрес данного места: {{ .Address }}</p>
                <p>Координаты места: {{ .Lat }}, {{ .Lon }}</p>

                <div class="map-container">
                        <img src="{{ .MapURL }}" alt="Карта места" class="map-image">
                </div>
            </div>
            
            {{ end }}
        {{ else }}
            <p class="no-results">Ничего не найдено по запросу "{{ .Query }}"</p>
        {{ end }}
    </div>
</div>
</div>

<style>
    .map-image{
        border-radius: 100px;
        border-style: double;
    }
    .h-res{
        text-align: center;
        background-color: rgb(67, 255, 249);
        border-radius: 5px;
        border-width: 5px;
        border-style: double;
        margin-left: 300px;
        margin-right: 300px;
        font-size: 25px;
        padding-top: 20px;
    }
    .text-l{
        background-color: rgb(96, 239, 255);
        border-radius: 5px;
        border-width: 5px;
        text-align: center;
        border-style: double;
        margin-left: 200px; 
        margin-right: 200px; 
    }
    .no-results{
        text-align: center;
        font-size: 25px;
    }
    
.sidebar-left {
  position: fixed;
  flex: 1;
  top: 10px; 
  bottom: 10px; 
  width: 150px;
  background: repeating-linear-gradient(
    rgba(55, 161, 255, 0.5) 30px,
    rgba(55, 161, 255, 0.5) 30px
  );
  z-index: -1; /* под основой находится ес чо*/
  padding-left: 0px;
}
.sidebar-right {
  position: fixed;
  flex: 1;
  top: 10px; 
  bottom: 10px; 
  width: 150px;
  right: 0;
  background: repeating-linear-gradient(
    rgba(55, 161, 255, 0.5) 30px,
    rgba(55, 161, 255, 0.5) 30px
  );
  z-index: -1; /* под основой находится ес чо*/
  padding-left: 0px;
}
.main-text{
  margin: auto;
}
    
</style>

</body>


</html>

{{ template "footer"}}


{{ end }}